<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="./stylesheets/style.css" rel = "stylesheet"/>
</head>
<body> 
    <nav>
        <a href="./"> Home</a>    
    </nav>
    <h1>Morgan Freeman's Life History</h1>

    <h3>Childhood & Early Life</h3>
    <ul>
    <li>
      Morgan Freeman was born on June 1, 1937, in Memphis, Tennessee, USA, to Mayme
      Edna and Morgan Porterfield Freeman. His mother was a teacher and father, a
      barber. He was sent to live with his grandmother when he was still a toddler;
      he started living with his parents years later.
    </li>
    <li>
      He loved movies and acting from a young age. He would often save money to
      watch movies and idolized actors like Gary Cooper and Sidney Poitier. He also
      acted in various dramas in school.
    </li>
    <li>
      He attended ‘Broad Street High School’ in Mississippi and won a state wide
      drama competition when he was 12. He graduated high school in 1955.
    </li>
    <li>
      He received a partial drama scholarship from ‘Jackson State University’ but he
      turned it down.
    </li>
    </ul>
    <h3>Career</h3>
    <ul>
    <li>
      He joined the ‘U.S. Air Force,’ hoping to be a fighter pilot. He was, however,
      relegated as a mechanic and radar technician. He quit his military service in
      1959 upon realizing that this was not what he wanted to do.
    </li>
    <li>
      He moved to Los Angeles and took acting and dancing classes during the early
      1960s at the ‘Pasadena Playhouse.’ During the mid-1960s, he joined the ‘Opera
      Ring’ musical theater group and became part of the touring company version of
      ‘The Royal Hunt of the Sun.’
    </li>
    <li>
      He made his off-Broadway debut in 1967. This led to his Broadway debut in 1968
      in an all-black version of ‘Hello Dolly!’ which also starred Pearl Bailey.
    </li>
    <li>
      Starting from 1971, he began appearing regularly on children’s television
      program ‘The Electric Company,’ an educational program aimed at teaching
      children how to read. The show ran for six seasons till 1977.
    </li>
    <li>
      His film career began to take off only in the 1980s. Initially, he would be
      cast to play minor roles in films like ‘Brubaker’ (1980), ‘Eyewitness’ (1981),
      ‘Harry & Son’ (1984), and ‘Marie’ (1985).
    </li>
    <li>
      He got his first big break in 1987 when he was cast as the violent pimp ‘Fast
      Black’ in ‘Street Smart.’ The role earned him positive reviews and an ‘Academy
      Award’ nomination for ‘Best Supporting Actor.’
    </li>
    <li>
      In 1989, he starred in the comedy drama film ‘Driving Miss Daisy,’ which was
      adapted from a play of the same name. Freeman portrayed ‘Hoke Colburn’ and his
      performance was much appreciated.
    </li>
    <li>
      The prolific actor appeared in several movies throughout the 1990s. The most
      notable among these was ‘The Shawshank Redemption’ (1994), which was based on
      Stephen King’s novella ‘Rita Hayworth and Shawshank Redemption.’
    </li>
    <li>
      He played ‘God’ in the 2003 super-hit film ‘Bruce Almighty,’ which also
      starred Jim Carrey, Steve Carell, and Jennifer Aniston. He reprised this role
      in the film’s sequel ‘Evan Almighty’ in 2007.
    </li>
    <li>
      He acted in the sports drama film ‘Million Dollar Baby’ in 2004, in which he
      played ‘Eddie ‘Scrap-Iron’ Dupris,’ a former boxer. His performance in
      ‘Million Dollar Baby’ is often regarded as his finest.
    </li>
    <li>
      In 2009, he portrayed former South African President ‘Nelson Mandela’ in the
      Clint Eastwood-directed sports drama film ‘Invictus.’ Freeman stated that it
      was his fondest dream to play Nelson Mandela on screen.
    </li>
    <li>
      Freeman went on to star in projects such as ‘Now You See Me’ (2013) and ‘Now
      You See Me 2’ (2016). In the 2014 blockbuster film ‘The Lego Movie,’ he voiced
      the character of ‘Vitruvius.’
    </li>
    <li>
      In the late-2010s, he was seen in films like ‘Just Getting Started’ (2017),
      ‘Brian Banks’ (2018), and ‘The Poison Rose’ (2019). He has also been part of a
      TV documentary titled ‘The Story of God with Morgan Freeman.’
    </li>
    <li>
      He has reprised his role as ‘Allan Trumbull’ in movies like ‘Olympus Has
      Fallen’ (2013) and ‘London Has Fallen’ (2016). He reprised the role in the
      2019 Ric Roman Waugh-directed action thriller film ‘Angel Has Fallen,’ which
      also starred actors like Gerard Butler, Danny Huston, and Michael Landes.
    </li>
    <li>
      In 2019, he was cast to play an important role in the action comedy film ‘The
      Hitman’s Wife’s Bodyguard.’ The same year, he was cast alongside Robert De
      Niro and Tommy Lee Jones in a comedy film titled ‘The Comeback Trail.’
    </li>
    </ul>
    <h3>Major Works</h3>
    <ul>
    <li>
      His role as an elderly former boxer in the film ‘Million Dollar Baby’ received
      huge acclaim, and earned him several prestigious awards.
    </li>
    <li>
      He portrayed former South African President ‘Nelson Mandela’ in the film
      ‘Invictus,’ which was based on the events that unfolded in South Africa before
      and during the 1995 ‘Rugby World Cup.’ He was nominated for the ‘Academy
      Award’ for ‘Best Actor’ for his performance in the film.
    </li>
    </ul>
    <h3>Awards & Achievements</h3>
    <ul>
      <li>
      He won the ‘Golden Globe Award’ for ‘Best Performance by an Actor’ for his
      film ‘Driving Miss Daisy’ in 1990.
    </li>
    <li>
      He won the ‘Academy Award’ for ‘Best Supporting Actor’ for the 2004 movie
      ‘Million Dollar Baby.’
    </li>
    <li>
      He was presented with the ‘American Film Institute Lifetime Achievement Award’
      in 2011. This award is given to honor a single individual for his or her
      lifetime contribution to enriching American culture through motion pictures
      and television.
    </li>
    <li>
      ‘The Cecil B. DeMille Award,’ an honorary ‘Golden Globe Award’ was bestowed
      upon him by the ‘Hollywood Foreign Press Association’ for ‘outstanding
      contributions to the world of entertainment’ in 2012.
    </p>
    <li>
      He has received honorary degrees from ‘Delta State University’ and ‘Boston
      University.’ He is also the recipient of ‘Lifetime Achievement Award,’ which
      was presented to him by the ‘Screen Actors Guild Academy.’ In 2014, ‘Freedom
      of the City’ was bestowed upon him by the city of London.
    </li>
    </ul>
    
</body>
</html>