<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morgan Freeman</title>
    <link href="./stylesheets/style.css" rel = "stylesheet"/>
</head>
<body>
    <nav>
        <a href="./about"> About  |  </a>
        <a href="./work"> Work</a>
    </nav>
    <h1>Morgan Freeman</h1>
    <img id = "home-image" src="./images/morgan-freeman-pic.jpg" alt="Morgan Freeman picture"/>
    
</body>
</html>